{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="category-title">Категория: {{ category.name }}</h1>

    {% if flowers %}
        <div class="category-flower-list">
            {% for flower in flowers %}
                <div class="flower-card">
                    <h2><a href="{% url 'flower_detail' flower.id %}">{{ flower.name }}</a></h2>
                    <p class="flower-price">Цена: {{ flower.price }} ₽</p>

                    <img class="flower-image" src="{% if flower.image %}{{ flower.image.url }}{% else %}{% static 'default_image.jpg' %}{% endif %}" alt="{{ flower.name }}">

                    <!-- Форма добавления в корзину -->
                    <form method="POST" action="{% url 'add_to_cart' flower.id %}" class="add-to-cart-form">
                        {% csrf_token %}
                        <input type="number" name="quantity" value="1" min="1">
                        <button type="submit" class="btn">Добавить в корзину</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Нет товаров в данной категории.</p>
    {% endif %}
</div>
{% endblock %}