<!DOCTYPE html>
<html>
<head>
    <title>{{ flower.name }}</title>
</head>
<body>
    <h1>{{ flower.name }}</h1>
    <p>{{ flower.description }}</p>
    <p>Цена: {{ flower.price }} ₽</p>

    {% if flower.image %}
        <img src="{{ flower.image.url }}" alt="{{ flower.name }}" style="width: 200px; height: auto;">
    {% else %}
        <img src="/static/default_image.jpg" alt="No Image Available" style="width: 200px; height: auto;">
    {% endif %}

    <!-- Отображение категорий, к которым относится цветок -->
    <h2>Категории</h2>
    <ul>
        {% for category in flower.category.all %}
            <li><a href="{% url 'category_detail' category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>

    <form method="POST" action="{% url 'add_to_cart' flower.id %}">
        {% csrf_token %}
        <input type="number" name="quantity" min="1" value="1" required>
        <button type="submit">Добавить в корзину</button>
    </form>

    <a href="{% url 'flower_list' %}">Назад к каталогу</a>
</body>
</html>