{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>Наш каталог</h2>

    <!-- Категории -->
    <h3>Категории</h3>
    <div class="category-container">
    {% for category in categories %}
        <div class="category-card">
            <a href="{% url 'category_detail' category.slug %}">
                {% if category.slug == 'Flowers' %}
                    <img src="{% static 'flower_category.jpg' %}" alt="{{ category.name }}">
                {% elif category.slug == 'Gifts' %}
                    <img src="{% static 'gift_category.jpg' %}" alt="{{ category.name }}">
                {% elif category.slug == 'bouquet' %}
                    <img src="{% static 'buket_category.jpg' %}" alt="{{ category.name }}">
                {% else %}
                    <img src="{% static 'default_category.jpg' %}" alt="{{ category.name }}">
                {% endif %}
                <p>{{ category.name }}</p>
            </a>
        </div>
        {% empty %}
            <p>Категории не найдены</p>
        {% endfor %}
    </div>

    <!-- Продукты -->
    <h3>Продукты</h3>
    <div class="product-list">
        {% for category in categories %}
            <div class="category-block">
                <h2>{{ category.name }}</h2>
                <ul class="flower-list">
                    {% for flower in category.flowers.all %}
                        <li class="flower-item">
                            <h3><a href="{% url 'flower_detail' flower.id %}">{{ flower.name }}</a></h3>
                            <p class="flower-price">Цена: {{ flower.price }} ₽</p>

                            <img src="{% if flower.image %}{{ flower.image.url }}{% else %}{% static 'default_image.jpg' %}{% endif %}" alt="{{ flower.name }}">

                            <!-- Форма добавления в корзину -->
                            <form method="POST" action="{% url 'add_to_cart' flower.id %}" class="add-to-cart-form">
                                {% csrf_token %}
                                <input type="number" name="quantity" value="1" min="1">
                                <button type="submit">Добавить в корзину</button>
                            </form>
                        </li>
                    {% empty %}
                        <p>Нет товаров в этой категории</p>
                    {% endfor %}
                </ul>
            </div>
        {% empty %}
            <p>Нет доступных категорий</p>
        {% endfor %}
    </div>

    <div class="cart-button">
        <a href="{% url 'cart_detail' %}" class="btn btn-primary">Перейти в корзину</a>
    </div>
{% endblock %}