<!DOCTYPE html>
<html>
<head>
    <title>{{ flower.name }}</title>
</head>
<body>
    <h2>Детали заказа #{{ order.id }}</h2>
    <p><strong>Дата и время заказа:</strong> {{ order.order_date }}</p>
    <p><strong>Статус:</strong> {{ status_display }}</p>
    <p><strong>Адрес доставки:</strong> {{ delivery_address }}</p>

    <h3>Состав заказа:</h3>
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Количество</th>
                <th>Цена за единицу</th>
                <th>Стоимость</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.unit_price }}</td>
                <td>{{ item.total_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><strong></strong> {{ order.total_price }}</p>
    <p><strong> </strong> {{ order.get_total_price }}</p>
</body>
</html>