{% extends "admin/base_site.html" %}
{% block content %}
  <h2>История заказов покупателя {{ user.username }}</h2>
  <table>
    <tr>
      <th>Номер заказа</th>
      <th>Получатель</th>
      <th>Дата доставки</th>
      <th>Статус</th>
    </tr>
    {% for order in orders %}
      <tr>
        <td>{{ order.order_number }}</td>
        <td>{{ order.recipient_name }}</td>
        <td>{{ order.delivery_date }}</td>
        <td>{{ order.get_status_display }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}